<div class="col-xs-12">
	<div class="row">
		<div class="box" data-ng-class="editingItem ? 'col-xs-6': 'col-xs-12'">
			<ul class="row menu">
				<li class="col-xs-3" data-ng-class="showInput=='items' ? 'active' : ''" data-ng-click="showInput='items'">Items</li>
				<li class="col-xs-3" data-ng-class="showInput=='synergies' ? 'active' : ''" data-ng-click="showInput='synergies'">Synergies</li>
				<li class="col-xs-3" data-ng-class="showInput=='skills' ? 'active' : ''" data-ng-click="showInput='skills'">Skills</li>
				<li class="col-xs-3" data-ng-class="showInput=='omega' ? 'active' : ''" data-ng-click="showInput='omega'">Omega</li>
			</ul>
			<div class="box-content">
				<div data-ng-show="showInput=='items'">
					<div data-ng-repeat="item in hero.items" class="row" data-ng-class-even="'even'">
						<div class="col-xs-4">
							<span>{{item.slot}}</span>
						</div>
						<div class="col-xs-6">
							<span data-ng-show="!item.itemId">{{item.name}}</span>
						</div>
						<div class="col-xs-2">
							<input type="button" value=">" data-ng-click="editItem(item)">
						</div>
					</div>
				</div>
				<div data-ng-show="showInput=='synergies'">
					<div class="row center">
						<span><strong>Total Active Synergies : {{hero.countActiveSynergies()}}</strong></span>
					</div>
					<div class="row">
						<h3 class="col-xs-6 col-md-2 center">Hero</h3>
						<h3 class="col-xs-2 center">X</h3>
						<h3 class="col-xs-2 col-md-4 center">25</h3>
						<h3 class="col-xs-2 col-md-4 center">50</h3>
					</div>
					<div data-ng-repeat="synergy in hero.synergies" class="row" data-ng-class-even="'even'">
						<div class="col-xs-6 col-md-2">
							<span>{{synergy.name}}</span>
						</div>
						<div class="col-xs-2">
							<input type="radio" value="0" data-ng-model="synergy.lvl" data-ng-disabled="hero.countActiveSynergies() >= 10 && !synergy.isActive()">
						</div>
						<div class="col-xs-2 col-md-4">
							<label>
								<input type="radio" value="25" data-ng-model="synergy.lvl" data-ng-disabled="hero.countActiveSynergies() >= 10 && !synergy.isActive()">
								<span data-ng-if="synergy.lvl25Stat.name">+ {{synergy.lvl25Stat.value}} {{getStatLabel(synergy.lvl25Stat.name)}}</span>
							</label>
						</div>
						<div class="col-xs-2 col-md-4">
							<label>
								<input type="radio" value="50" data-ng-model="synergy.lvl" data-ng-disabled="hero.countActiveSynergies() >= 10 && !synergy.isActive()">
								<span data-ng-if="synergy.lvl50Stat.name">+ {{synergy.lvl50Stat.value}} {{getStatLabel(synergy.lvl50Stat.name)}}</span>
							</label>
						</div>
					</div>
				</div>
				<div class="row" data-ng-show="showInput=='skills'">
					<div class="col-xs-12 col-md-4">
						<h3 class="row center col-xs-12">Decimation</h3>
						<div data-ng-repeat="skill in hero.skills | filter: {'tree': 'tree1'}" class="row" data-ng-class-even="'even'">
							<div class="col-xs-8">
								<span>{{skill.name}}</span>
							</div>
							<div class="col-xs-4 right">
								<input type="number" min="0" max="20" data-ng-model="skill.lvl" class="small center"></input>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<h3 class="row center col-xs-12">Negation</h3>
						<div data-ng-repeat="skill in hero.skills | filter: {'tree': 'tree2'}" class="row" data-ng-class-even="'even'">
							<div class="col-xs-8">
								<span>{{skill.name}}</span>
							</div>
							<div class="col-xs-4 right">
								<input type="number" min="0" max="20" data-ng-model="skill.lvl" class="small center"></input>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<h3 class="row center col-xs-12">Disruption</h3>
						<div data-ng-repeat="skill in hero.skills | filter: {'tree': 'tree3'}" class="row" data-ng-class-even="'even'">
							<div class="col-xs-8">
								<span>{{skill.name}}</span>
							</div>
							<div class="col-xs-4 right">
								<input type="number" min="0" max="20" data-ng-model="skill.lvl" class="small center"></input>
							</div>
						</div>
					</div>
				</div>
				<div data-ng-show="showInput=='omega'">
					TODO !
				</div>
			</div>
			<div class="row box-content">
				<div class="col-xs-12">
					<input type="button" value="Save your profile" data-ng-click="updateDB(hero)">
				</div>
			</div>
		</div>
		<div class="col-xs-6" data-ng-show="editingItem">
			<div data-item-box item="editingItem" stats="stats" skills="hero.skills" enchantments="enchantments" readonly="comparingItem" data-ng-show="editingItem"></div>
		</div>
		<div class="col-xs-12 box">
			<ul class="row menu">
				<li class="col-xs-6" data-ng-class="showInfo=='skills' ? 'active' : ''" data-ng-click="showInfo='skills'">Skills</li>
				<li class="col-xs-6" data-ng-class="showInfo=='stats' ? 'active' : ''" data-ng-click="showInfo='stats'">Stats</li>
			</ul>
			<div class="box-content" data-ng-show="showInfo=='skills'">
				<div data-ng-repeat="skill in hero.skills | filter: skillLvlFilter" data-ng-class-even="'even'">
					<div class="row">
						<div class="col-xs-6">
							<span>{{skill.name}}</span>
						</div>
						<div class="col-xs-2 right">
							<div>Prio</div>
						</div>
						<div class="col-xs-1">
							<input type="number" data-ng-model="skill.prio">
						</div>
						<div class="col-xs-3 right">
							<div>Lvl {{skill.totalLvl(hero)}}</div>
						</div>
					</div>
					<div class="row clickable" data-ng-repeat="effect in skill.getActiveEffects()" data-ng-click="showDetails = !showDetails">
						<div class="col-xs-1">
							<span data-ng-show="!showDetails">+</span>
							<span data-ng-show="showDetails">-</span>
						</div>
						<div class="col-xs-3">
							<span>{{effect.name}}</span>
						</div>
						<div class="right" data-ng-class="(comparingItem ? 'col-xs-6' : 'col-xs-8 bold')">
							<span>{{effect.dps() | number:2}} DPS</span>
						</div>
						<div class="col-xs-2 bold right" data-ng-show="comparingItem && skill.dps() > 0">
							<span>{{skill.comparison()*100 | number:2}}%</span>
						</div>
						<div class="slide" data-ng-show="showDetails">
							<div class="row">
								<div class="col-xs-offset-1 col-xs-5">
									<span>Avg Damage</span>
								</div>
								<div class="col-xs-6 center">
									<span>{{effect.dmg() | number:2}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-offset-1 col-xs-5">
									<span>Hit/Sec</span>
								</div>
								<div class="col-xs-6 center">
									<span>{{effect.AS() | number:1}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-offset-1 col-xs-5">
									<span>Critical</span>
								</div>
								<div class="col-xs-6 center">
									<div>{{effect.critRat_Fact()*100 | number:2}}%</div>
									<div>{{effect.critDmg_Fact()*100 | number:2}}%</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-offset-1 col-xs-5">
									<span>Brutal</span>
								</div>
								<div class="col-xs-6 center">
									<div>{{effect.brutRat_Fact()*100 | number:2}}%</div>
									<div>{{effect.brutDmg_Fact()*100 | number:2}}%</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" data-ng-repeat="effect in skill.getPassiveEffects() | filter: {scope: '!S'}">
						<div class="col-xs-1">
							<input type="checkbox" data-ng-model="effect.buffEnabled" data-ng-show="effect.isBuff()">
						</div>
						<div class="col-xs-11">
							<span>{{getStatLabel(effect.stat.name)}}</span> : <span>+ {{effect.getStatValue(effect.stat.name, false) | number:1}}</span>
						</div>
					</div>
				</div>
			</div>
			<div data-ng-show="showInfo=='stats'">
				<div class="row" data-ng-repeat="stat in stats" data-ng-class-even="'even'">
					<div class="col-xs-6">
						<span>{{getStatLabel(stat)}}</span>
					</div>
					<div class="col-xs-6 right" data-ng-hide="stat == 'AS'">
						<span>{{hero.getTotalStat(stat) | number:0}}</span>
					</div>
					<div class="col-xs-6 right" data-ng-show="stat == 'AS'">
						<span>{{hero.getTotalStat(stat) | number:2}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 box">
			<div>Time to kill a 500K HP Dummy using the skills following "prio" order : </div>
			<div>{{calcTTK(500000)}}</div>
		</div>
	</div>
	<!--div style="display:none;">
		<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
		<form method="post" action="https://script.google.com/macros/s/AKfycbwyQGyPTBEqkwuEQKRcYq1YHDqfgSRuBUHoBS_xu8ZeRRUQBEw/exec" 
			name="theForm" id="theForm" target="hidden_iframe" enctype='application/json' style="display:none;"></form>
	</div-->
</div>
